<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylan.mapper.LinkAccessLogsMapper">

    <select id="findPvUvUidStatsByShortLink" resultType="LinkAccessStatsDO">
        SELECT COUNT(user)          AS pv,
               COUNT(DISTINCT user) AS uv,
               COUNT(DISTINCT ip)   AS uip
        FROM t_link_access_logs
        WHERE gid = #{param.gid}
          AND full_short_url = #{param.fullShortUrl}
          AND create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY full_short_url, gid;
    </select>

    <select id="listTopIpByShortLink" resultType="java.util.HashMap">
        SELECT ip,
               COUNT(ip) AS count
        FROM
            t_link_access_logs
        WHERE
            gid = #{param.gid}
          AND full_short_url = #{param.fullShortUrl}
          AND create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY
            full_short_url, gid, ip
        ORDER BY
            count DESC
            LIMIT 5;
    </select>

    <select id="findUvTypeCntByShortLink" resultType="java.util.HashMap">
        SELECT
            SUM(old_user) AS oldUserCnt,
            SUM(new_user) AS newUserCnt
        FROM (
            SELECT
                CASE WHEN COUNT(DISTINCT DATE(create_time)) > 1 THEN 1 ELSE 0 END AS old_user,
                CASE WHEN COUNT(DISTINCT DATE(create_time)) = 1 AND MAX(create_time) &gt;= #{param.startDate} AND MAX(create_time) &lt;= #{param.endDate} THEN 1 ELSE 0 END AS new_user
            FROM
                t_link_access_logs
            WHERE
                full_short_url = #{param.fullShortUrl}
                AND gid = #{param.gid}
            GROUP BY
                user
        ) AS user_counts;
    </select>

    <select id="selectUvTypeByUsers" resultType="java.util.Map">
        SELECT
            user,
            CASE WHEN MIN(create_time) BETWEEN #{startDate} AND #{endDate} THEN '新访客' ELSE '老访客' END AS uvType
        FROM
            t_link_access_logs
        WHERE
            full_short_url = #{fullShortUrl}
            AND gid = #{gid}
            AND user IN
                <foreach item='item' index='index' collection='userAccessLogsList' open='(' separator=',' close=')'>
                    #{item}
                </foreach>
        GROUP BY
            user;
    </select>

</mapper>