<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylan.mapper.ShortLinkMapper">

    <update id="incrementStats">
        update t_link
        set click_num = click_num + #{clickNum},
            total_pv  = total_pv + #{totalPv},
            total_uv  = total_uv + #{totalUv},
            total_uip = total_uip + #{totalUip}
        where gid = #{gid}
          and full_short_url = #{fullShortUrl}
    </update>

</mapper>